<ion-header [translucent]="false">
  <ion-toolbar>

    <ion-buttons slot="start">
      </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

 <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-list lines="full">
        <ion-item>
          <ion-label><a [routerLink]="['/editar']" (click)="enviarMail()">Cambiar contraseña</a></ion-label>
        </ion-item>
        <ion-item>
          <ion-label><a (click)="logOut()">Cerrar sesión</a></ion-label>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-menu> 


  <div class="ion-page" id="main-content" > 



    
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Bienvenido {{ mdl_nombre }}</ion-title>
        <ion-button slot="end" size="small" class="btn-salir" (click)="logOut()">
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">

      <ion-content>

      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Bienvenido a </ion-card-subtitle>
          <ion-card-title>Duoc UC</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Estimado alumno, para registrar correctamente tu asistencia, por favor, haz click en el botón de abajo.
        </ion-card-content>

      </ion-card>

        <ion-button class="btn" expand="full" (click)="AsistenciaAlmacenar()">Registra tu asistencia</ion-button>

    </ion-content>

    





  



