
* {
    font-family: 'Mukta', sans-serif;
}



.head {
    height: 150px;
    background-color: #022c56;
    margin-top: -20px;
}

.titulo {
    text-align: center;
    padding-top: 50px;
    color: white;
}

span {
    color: #ecc218;
}

.barra {
    background-color: #022c56;

}

.btn {
    margin-top: 20px;
    --background: #ffba00;
    color: white;
}