<app-barra titulo="Ingresa tus datos"> </app-barra>



<div class="head">
  <h1 class="titulo">RegistrApp <br>
    <span>Duoc</span>UC</h1>
</div>

<ion-content class="ion-padding magnolia">
  <ion-item class="ion-margin-top inputRedondo" lines="none">
    <ion-label position="fixed">Correo</ion-label>
    <ion-input [(ngModel)]="mdl_correo">
      <ion-icon name="mail" slot="start"></ion-icon>
    </ion-input>
  </ion-item>
  <ion-item class="ion-margin-top inputRedondo">
    <ion-label position="fixed">Password</ion-label>
    <ion-input [(ngModel)]="mdl_password">
      <ion-icon name="key" slot="start"></ion-icon>
    </ion-input>
  </ion-item>
  <ion-item class="ion-margin-top inputRedondo">
    <ion-label position="fixed">Nombre</ion-label>
    <ion-input [(ngModel)]="mdl_nombre">
      <ion-icon name="person" slot="start"></ion-icon>
    </ion-input>
  </ion-item>
  <ion-item class="ion-margin-top inputRedondo">
    <ion-label position="fixed">Apellido</ion-label>
    <ion-input [(ngModel)]="mdl_apellido">
      <ion-icon name="person" slot="start"></ion-icon>
    </ion-input>
  </ion-item>

  <ion-button (click)="UsuarioAlmacenar()" expand="block" class="btn btn-success" [routerLink]="['/login']">Almacenar</ion-button>


</ion-content>
  